body{
  background-image:url('gifs/gif1.gif');
  background-size: 100% 100%;
  
    margin:0px;
}
@font-face{
  font-family: "4thfont";
  
 src: url('fonts/Wizards Magic.ttf');}
 
.mood{
  color:black;
  font-family: "4thfont";
  text-align:center;
  background-image:url('gifs/gif2.gif');
  text-shadow: 1px 1px 1px white, 0 0 1em black, 0 0 0.2em white;
  font-size:28px;
}
.first-stretch{
text-align:center;
border: 32px solid transparent;
   padding:0px;
  
   border-image:url('gifs/gif4.gif') 30 round;


  
}
.faces{
  position:absolute;
  float:left;
  margin:0px;
}
  a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
  animation: scale_shiftonhover .05s linear;
}
@keyframes scale_shiftonhover {0%{transform:scale(1, 1);}
100%{transform:scale(1.5, 1.5);}}


