body{
 background-image: url('images/background/cat.png');
 background-color: black;
 
 
background-repeat: repeat;
background-attachment: fixed; 
  background-size: 100% 100%;
  
margin:0px;
border: 20px solid transparent;
   padding:0px;

   border-image:url('images/background/cat.png') 20 round;
}
@font-face{
  font-family: "myFirstFont";
  src: url("https://evieluv222.neocities.org/fonts/KiwiSoda.Woff2") ;
}
@font-face{
  font-family: "2ndfont";
  src: url('https://evieluv222.neocities.org/fonts/Hawaii%20Killer.ttf');}
  @font-face{
  font-family: "3rdfont";
  src: url('https://evieluv222.neocities.org/fonts/CharmingSymbols.ttf');}
@font-face{
  font-family: "4thfont";
  
 src: url('fonts/Wizards Magic.ttf');}
 @font-face{
   font-family:"5thfont";
 src:url('fonts/XTypewriterRegular.ttf');}

.sidenav {
  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -50px;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  flex-wrap:nowrap;
  background-image:url('images/background/plate.png');
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
  transition: 0.3s;
 font-family:"5thfont";
    text-align:left;
    
}

.sidenav a:hover {
  color: #f1f1f1;
  
  
   
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  flex-wrap:nowrap;
  color:black;
  
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 6px;}
  .sidenav a {font-size: 13px;}
}

.headerbox a:link{
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.headerbox a:visited{
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.headerbox a:active{
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
.headerbox a:hover{
  color:#FE0B2B;
  background-color: transparent;
  filter:blur(0.7px);
}


.headerbox{
   
background-repeat:no-repeat;
background-size: 100% 100%;
 
 text-align:center;
 

}
.headerbar{
  
   text-align:center;
   
 font-size: 25px;

  color: white;
        font-family: "papyrus", fantasy
   
  
 }

.headerbar2 a:hover{
  color: blue;
  background-color: transparent;
  text-decoration: line-through;
}
.headerbar2 a:active{
  color: blue;
  background-color: transparent;
  text-decoration: line-through;
  
}
.headerbar2 a:visited{
   color: black;
  background-color: transparent;
  text-decoration: none;
}
.headerbar2 a:link{
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.headerbar2{
  font-family: "2ndfont";
   font-size:27px;
   text-align:center;
 
  margin-left: 550px;
  margin-right: 550px;

  color:white;


 }
 .avatar{
   text-align:center;
  margin-bottom:0px;
 
   font-family: "3rdfont";

   background-repeat: no-repeat;
   background-size:100% 100%;
   font-size:80px;
   margin-right:300px;
   margin-left:300px;

   color:black;
   text-shadow:
    1px 1px 1px white,
    0 0 1em white,
    0 0 0.2em black;
   
    
 }
.welcometext{
 
    text-align:center;
    font-family: "2ndfont";
    font-size: 105px;
   
     color:black;
     text-shadow:
     1px 1px 1px white,
    0 0 1em black,
    0 0 0.2em white;
     margin-bottom:0px;
 
    }
    
  .image1{
   
    text-align:center;
    font-size: 105px;
    
   
 
    top:100px;
  }
.dropdown {
  
  text-align:center;
  color:black;
}

.dropdown-content {
  display: none;
  position: relative; text-align:center;
  background-color: #f9f9f9;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
 
  background-image:url('images/coverarts/nuclearwinter.jpg');
  filter:contrast(400%);
 
}

.dropdown:hover .dropdown-content {
  display: block;
  text-align:center;
}

 
   .imgContainer2{
    float:left;
     font-size: 20px;
 font-family: "apple chancery",cursive;
  color: white;
       
     text-align: center;
     background-image:url('images/gallery.purple hand.jpg');
 text-shadow:
    3px 1px 2px black,
    0 0 1em #00FF7F,
    0 0 0.2em #00FF7F;
  
    
   
      background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
    
}
.p3{ 

 font-size: 20px;
 font-family: "apple chancery",cursive;
  color: white;
  text-align: center;
 
  
        
     background-image:url('images/background/board.jpg');

  
  
   
      background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
    
}


.containerrr{
  text-align:center;
  background-image:url("images/banner/banner.png");
  background-repeat: repeat;
  filter:invert(100%);
  
}
.imgContainer3{
  float:left;
 background-image:url('gifs/gif4.gif');
 color:white;
}


.tooltip {
  position: relative;
  text-align:right;
   /* Add dots under the hoverable text */
  cursor: pointer;
 color:black;
 display: inline-block;
 width:fit-content;
 height:fit-content;
    
font-size: 32px;
font-family: "2ndfont";
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden; /* Hidden by default */

  background-color: white;
  color: #ffffff;
  color:black;
  padding: 5px 0;
  border-radius: 6px;
font-family: "courier", monospace;

  font-size:17px;
  z-index:3000;
  text-shadow:
    1px 1px 1px white,
    0 0 1em black,
    0 0 0.2em white;
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

