.perspectivefuck2{
  perspective:20px;
}
.perpsectivefuckimg{
  
  
    animation: move 40s linear infinite;
  }
  @keyframes move { 0% {transform: rotateX(100deg) translateY(70px);
  }
  100%{transform:rotateX(15deg) translateY(-300px);}}
  .buttoncontainer{position: fixed;
  top: 50px;
  left: 50px;}
.dropdown {
  position: absolute;
  text-align:center;
  top:0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  text-align:center;
  margin-left: 555px;
  margin-right: 555px;
  top:0px;
  filter:contrast(400%);
}

.dropdown:hover .dropdown-content {
  display: block;
  text-align:center;
}
