body{
 
 background: radial-gradient( at 50% 50%, rgba(247, 0, 0, 1) 0.0%, rgba(123, 68, 225, 1) 34.5%, #bfe9ff 100.0%);
 
  opacity: 1;
  border-radius: 50%;;
  }
  .header{ 
font-family: "Didot", serif;
  font-size: 20px;
   text-shadow:
    1px 1px 2px black,
    0 0 1em aliceblue,
    0 0 0.2em aliceblue;
    font-weight: 900;
    filter:blur(.7px);
    letter-spacing:.3rem;
  text-align:center;
 
  }
  .writingdownloads{
    text-align:center;
  font-family: "Didot", serif;
  font-size: 20px;
   text-shadow:
    1px 1px 2px black,
    0 0 1em aliceblue,
    0 0 0.2em aliceblue;
    font-weight: 900;
    filter:blur(.7px);
    letter-spacing:.3rem;
    }
  
  
  a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
.shroomimage{
  text-align:center;
  filter:invert(100%);}
