body{
  background-image:url('images/utube/google.jpg');
  background-size: 100% 100%;
  
    margin:0px;
}
.mood{
  color:white;
}
.first-stretch{
text-align:center;
border: 32px solid transparent;
   padding:0px;
  
   border-image:url('images/banner/witch maiden 5.png') 24 round;


  
}
.faces{
  position:absolute;
  float:left;
  margin:0px;
}
  a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
  animation: scale_shiftonhover .05s linear;
}
@keyframes scale_shiftonhover {0%{transform:scale(1, 1);}
100%{transform:scale(1.5, 1.5);}}


